<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cvify">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.example.cvify.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cvify.InterviewPage"
            android:parentActivityName="com.example.cvify.HomePage" />
        <activity
            android:name="com.example.cvify.CreateResumePage"
            android:parentActivityName="com.example.cvify.HomePage" />
        <activity
            android:name="com.example.cvify.PersonalInfo"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.RateUsPage"
            android:parentActivityName="com.example.cvify.HomePage" />
        <activity
            android:name="com.example.cvify.TechnicalSkills"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.Objective"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.SharePage"
            android:parentActivityName="com.example.cvify.HomePage" />
        <activity
            android:name="com.example.cvify.Education"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.Interests"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.Projects"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.Achievements"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.References"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.GenerateResumePage"
            android:parentActivityName="com.example.cvify.CreateResumePage" />
        <activity
            android:name="com.example.cvify.DownloadPage"
            android:parentActivityName="com.example.cvify.HomePage" />
         <activity android:name="com.example.cvify.CVPage"></activity>
    </application>

</manifest>